@import "node_modules/normalize-scss/sass/normalize/import-now";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: Arial;
}

h1 {
  letter-spacing: 4px;
  font-size: 46px;
}

.container {
  padding: 10px 30px;
}

.logo {
  width: 450px;
  height: 300px;
  background-color: black;
  padding-left: 24px;
  padding-top: 24px;
}

.wrapper {
  position: relative;
  transform: rotate(-7deg) skewX(-1deg);
}

.u {
  height: 100px;
  border-width: 0 47px;
  position: relative;

  &, &:before {
    width: 172px;
    border-style: solid;
    border-color: white;
  }

  &:before {
    content: '';
    position: absolute;
    height: 117px;
    border-width: 47px;
    border-top-width: 0;
    left: -47px;
    bottom: -115px;
    border-radius: 0 0 100px 100px;
  }

  &.left {
    transform: rotate(45deg);
    left: 60px;
    top: 40px;
  }

  &.right {
    transform: rotate(-135deg);
    left: 167px;
    top: 10px;
  }
}

.bar {
  width: 48px;
  height: 93px;
  background-color: white;
  transform: rotate(90deg) skewX(10deg);
  position: absolute;
  top: -31px;
  left: -24px;
}
