doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title UniSharp Logo
    link(rel="stylesheet", href="./css/app.css")
  body
    .container
      h1 UniSharp Logo
      .logo
        .wrapper
          .u.left
            .bar
          .u.right
            .bar
